@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap");

@import "tailwindcss";

@theme {
  /* Colors */
  --color-color-1: #AC6AFF;
  --color-color-2: #FFC876;
  --color-color-3: #FF776F;
  --color-color-4: #7ADB78;
  --color-color-5: #858DFF;
  --color-color-6: #FF98E2;

  --color-stroke-1: #26242C;


  --color-n-1: #FFFFFF;
  --color-n-2: #CAC6DD;
  --color-n-3: #ADA8C3;
  --color-n-4: #757185;
  --color-n-5: #3F3A52;
  --color-n-6: #252134;
  --color-n-7: #15131D;
  --color-n-8: #0E0C15;
  --color-n-9: #474060;
  --color-n-10: #43435C;
  --color-n-11: #1B1B2E;
  --color-n-12: #2E2A41;
  --color-n-13: #6C7275;

  /* Font Family */
  --font-family-sans: var(--font-sora), system-ui, sans-serif;
  --font-code: var(--font-code);
  --font-family-grotesk: var(--font-grotesk);

  /* Letter Spacing */
  --letter-spacing-tagline: .15em;

  /* Spacing */
  --spacing-0\.25: 0.0625rem;
  --spacing-7\.5: 1.875rem;
  --spacing-15: 3.75rem;

  /* Opacity */
  --opacity-15: .15;

  /* Transitions */
  --transition-duration-DEFAULT: 200ms;
  --transition-timing-function-DEFAULT: linear;

  /* Z-Index */
  --z-index-1: 1;
  --z-index-2: 2;
  --z-index-3: 3;
  --z-index-4: 4;
  --z-index-5: 5;

  /* Border Width */
  --border-width-DEFAULT: 0.0625rem;
}

:root {
  --font-sora: "Sora", sans-serif;
  --font-code: "Source Code Pro", monospace;
  --font-grotesk: "Space Grotesk", sans-serif;
  color-scheme: dark;
}

* {
  scroll-behavior: smooth;
}

@layer utilities {
  .bg-conic-gradient {
    background: conic-gradient(from 225deg, #FFC876, #79FFF7, #9F53FF, #FF98E2, #FFC876);
  }

  .bg-radial-gradient {
    background: radial-gradient(var(--tw-gradient-stops));
  }

  .bg-benefit-card-1 {
    background: url(assets/benefits/card-1.svg);
  }
  .bg-benefit-card-2 {
    background: url(assets/benefits/card-2.svg);
  }
  .bg-benefit-card-3 {
    background: url(assets/benefits/card-3.svg);
  }
  .bg-benefit-card-4 {
    background: url(assets/benefits/card-4.svg);
  }
  .bg-benefit-card-5 {
    background: url(assets/benefits/card-5.svg);
  }
  .bg-benefit-card-6 {
    background: url(assets/benefits/card-6.svg);
  }

}

@layer base {
  body {
    font-family: var(--font-family-sans);
    background-color: var(--color-n-8);
    color: var(--color-n-1);
    font-size: 1rem;
  }
}

@layer components {
  .container {
    max-width: 77.5rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  @media (min-width: 768px) {
    .container {
      padding-left: 2.5rem;
      padding-right: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .container {
      padding-left: 3.75rem;
      padding-right: 3.75rem;
    }
  }

  @media (min-width: 1280px) {
    .container {
      max-width: 87.5rem;
    }
  }

  .h1 {
    font-weight: 600;
    font-size: 2.5rem;
    line-height: 3.25rem;
  }

  @media (min-width: 768px) {
    .h1 {
      font-size: 2.75rem;
      line-height: 3.75rem;
    }
  }

  @media (min-width: 1024px) {
    .h1 {
      font-size: 3.25rem;
      line-height: 4.0625rem;
    }
  }

  @media (min-width: 1280px) {
    .h1 {
      font-size: 3.75rem;
      line-height: 4.5rem;
    }
  }

  .h2 {
    font-size: 1.75rem;
    line-height: 2.5rem;
  }

  @media (min-width: 768px) {
    .h2 {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  @media (min-width: 1024px) {
    .h2 {
      font-size: 2.5rem;
      line-height: 3.5rem;
    }
  }

  @media (min-width: 1280px) {
    .h2 {
      font-size: 3rem;
      line-height: 1.25;
    }
  }

  .h3 {
    font-size: 2rem;
    line-height: normal;
  }

  @media (min-width: 768px) {
    .h3 {
      font-size: 2.5rem;
    }
  }

  .h4 {
    font-size: 2rem;
    line-height: normal;
  }

  .h5 {
    font-size: 1.5rem;
    line-height: normal;
  }

  .h6 {
    font-weight: 600;
    font-size: 1.125rem;
    line-height: 2rem;
  }

  .body-1 {
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  @media (min-width: 768px) {
    .body-1 {
      font-size: 1rem;
      line-height: 1.75rem;
    }
  }

  @media (min-width: 1024px) {
    .body-1 {
      font-size: 1.25rem;
      line-height: 2rem;
    }
  }

  .body-2 {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5rem;
  }

  @media (min-width: 768px) {
    .body-2 {
      font-size: 1rem;
    }
  }

  .caption {
    font-size: 0.875rem;
  }

  .tagline {
    font-family: var(--font-grotesk);
    font-weight: 300;
    font-size: 0.75rem;
    letter-spacing: .15em;
    text-transform: uppercase;
  }

  .quote {
    font-family: var(--font-code);
    font-size: 1.125rem;
    line-height: normal;
  }

  .button {
    font-family: var(--font-code);
    font-size: 0.75rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}

@layer utilities {
  .tap-highlight-color {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  .rotate-45 {
    transform: rotate(45deg);
  }

  .rotate-90 {
    transform: rotate(90deg);
  }

  .rotate-135 {
    transform: rotate(135deg);
  }

  .rotate-180 {
    transform: rotate(180deg);
  }

  .rotate-225 {
    transform: rotate(225deg);
  }

  .rotate-270 {
    transform: rotate(270deg);
  }

  .rotate-315 {
    transform: rotate(315deg);
  }

  .rotate-360 {
    transform: rotate(360deg);
  }

  .-rotate-45 {
    transform: rotate(-45deg);
  }

  .-rotate-90 {
    transform: rotate(-90deg);
  }

  .-rotate-135 {
    transform: rotate(-135deg);
  }

  .-rotate-180 {
    transform: rotate(-180deg);
  }

  .-rotate-225 {
    transform: rotate(-225deg);
  }

  .-rotate-270 {
    transform: rotate(-270deg);
  }

  .-rotate-315 {
    transform: rotate(-315deg);
  }

  .-rotate-360 {
    transform: rotate(-360deg);
  }
}